<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="footer">
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        PC SHOP
<!--                        <a href="#">-->
<!--                            Chào Mừng Bạn Đến Với Bình Nguyên Vô Tận =))-->
<!--                        </a>-->
                    </div>
                </div>
            </div>
        </footer>
    </th:block>
</html>

